{{ define "index" }}

{{ template "header" }}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">GroupsObserver</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Общее</a>
        <a class="nav-link" href="/observers">Наблюдатели</a>
        <a class="nav-link" href="/settings">Параметры</a>
      </nav>
    </div>
  </header>

  <main class="px-3">

    <center>

      <table>

        {{ range . }}
  
        <tr>
          <td>
            <label>{{ .Name }}:</label>
          </td>
          <td></td>
          <td>
            <form action="/wards/{{ .ID }}/toggle" method="post">
              <div class="pt-3 pb-2 mb-2">
                {{ if (eq .UnderObservation 1) }}
                <button class="btn btn-sm btn-outline-danger">Приостановить</button>
                {{ else }}
                <button class="btn btn-sm btn-outline-success">Запустить</button>
                {{ end }}
              </div>
            </form>
          </td>
        </tr>
  
      {{ end }}
  
      </table>

    </center>

  </main>

  {{ template "footer" }}

  {{ end }}
