{{ define "observer_control" }}

{{ template "header" }}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">GroupsObserver</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/">Общее</a>
        <a class="nav-link active" aria-current="page" href="/observers">Наблюдатели</a>
        <a class="nav-link" href="/settings">Параметры</a>
      </nav>
    </div>
  </header>

  <main class="px-3">

    <h1>{{ .Name }}</h1>

    <form action="/observers/{{ .ID }}/turn_on" method="post">
      <div class="pt-3 pb-2 mb-2">
        <button
        {{ if (eq .UnderObservation 1) }} disabled {{ end }}
        class="btn btn-sm btn-outline-light">
          Запустить
        </button>
      </div>
    </form>

    <form action="/observers/{{ .ID }}/turn_off" method="post">
      <div class="pt-3 pb-2 mb-2">
        <button
        {{ if (eq .UnderObservation 0) }} disabled {{ end }}
        class="btn btn-sm btn-outline-light">
          Остановить
        </button>
      </div>
    </form>

  </main>

{{ template "footer" }}

{{ end }}