{{ define "observer_control" }}

{{ template "header" }}

    <div class="content">

      {{ $ward_id := .WardID }}

      {{ range .Wards }}

      {{ if (eq $ward_id .ID) }}

      <div class="content_header">{{ .Name }}</div>
      <hr class="separator_hr">

      {{ end }}

      {{ end }}

      {{ $observers_types_ru := .ObserversTypesRu }}

      {{ range $i, $observer := .Observers }}

      <div class="content_box">
        <div class="ward_label">{{ index $observers_types_ru $i }}:</div>
        <div class="ward_observing_tgl_btn">
          <form action="/observers/{{ $ward_id }}/toggle/{{ .Name }}" method="post">

            {{ if (eq .UnderObservation 1) }}

            <button class="btn_general">Выкл.</button>

            {{ else }}

            <button class="btn_general">Вкл.</button>

            {{ end }}

          </form>
        </div>
      </div>

      {{ end }}

    </div>

    <div class="right_menu">
      <div class="right_menu_header">Подопечные</div>
      <hr class="separator_hr">
      <nav>

        {{ range .Wards }}

        <p>
          <div

          {{ if (eq $ward_id .ID) }}

          class="right_menu_btn_box_selected"

          {{ else }}
          
          class="right_menu_btn_box"

          {{ end }}
          
          >
            <a class="right_menu_btn" href="/observers/{{ .ID }}" method="post">{{ .Name }}</a>
          </div>
        </p>

        {{ end }}

      </nav>
    </div>

{{ template "footer" }}

{{ end }}
