{{ define "access_token_new" }}

{{ template "header" }}

    <div class="content">
      <div class="content_header">Параметры нового ключа доступа</div>
      <hr class="separator_hr">

      <form action="/settings/access_tokens/new/create" method="post">
        <div class="content_box">
          <a class="text_field_label">Название:</a>
          <input class="text_field" type="text" id="name" name="name">
        </div>
        <div class="content_box">
          <a class="text_field_label">Значение:</a>
          <input class="text_field" type="text" id="value" name="value">
        </div>
        <hr class="separator_hr">
        <div class="btn_add">
          <button class="btn_general">Добавить</button>
        </div>
      </form>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav>
        <p>
          <div class="right_menu_btn_box_selected">
            <a class="right_menu_btn" href="/settings/access_tokens">Ключи доступа</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/operators">Операторы</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/wards">Подопечные</a>
          </div>
        </p>
      </nav>
    </div>

{{ template "footer" }}

{{ end }}
