{{ define "access_tokens" }}

{{ template "header" }}

    <div class="content">
      <div class="content_header">
        Ключи доступа
        <button class="btn_general" onclick="openNewAccessTokenPage()" 
        style="margin-left: 205px;">
          Добавить новый
        </button>
      </div>
      <hr class="separator_hr">

      <div class="table_box">
        <table class="table">
          <tbody id="access_tokens_table">
            <tr class="table_th">
              <th class="table_th">
                Название
              </th>
              <th class="table_th" style="text-align: center;">
                Значение
              </th>
            </tr>
            <!-- верстка с помощью JavaScript -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav id="right_menu_btns">
        <!-- верстка с помощью JavaScript -->
      </nav>
    </div>

    <script>makeAccessTokensPage();</script>

{{ template "footer" }}

{{ end }}
