{{ define "access_token_settings" }}

{{ template "header" }}

    <div class="content" id="settings_fields">
      <div class="content_header">Параметры ключа доступа</div>
      <hr class="separator_hr">

      <div class="error_msg_box" id="error_msg" style="display: none;">
        <b>Ошибка сохранения записи</b>
        <br>
        <a id="error_text"></a>
      </div>
      
      <div class="content_box">
        <a class="text_field_label">Название:</a>
        <input class="text_field" type="text" id="name" name="name">
      </div>
      <div class="content_box">
        <a class="text_field_label">Значение:</a>
        <input class="text_field" type="text" id="value" name="value">
      </div>
      <hr class="separator_hr">
      <div class="btn_add">
        <button class="btn_general" id="btn_save">Сохранить</button>
      </div>
      <div class="btn_add">
        <button class="btn_del" id="btn_del">Удалить</button>
      </div>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav id="right_menu_btns">
        <!-- верстка с помощью JavaScript -->
      </nav>
    </div>

    <script>makeAccessTokenSettingsPage('{{ . }}');</script>

{{ template "footer" }}

{{ end }}
