{{ define "operators" }}

{{ template "header" }}

    <div class="content">
      <div class="content_header">
        Операторы
        <button class="btn_general" onclick="openNewOperatorPage()"
        style="margin-left: 240px;">
          Добавить нового
        </button>
      </div>
      <hr class="separator_hr">

      <div class="table_box">
        <table class="table">
          <tbody id="operators_table">
            <tr class="table_th">
              <th class="table_th">
                Название
              </th>
              <th class="table_th" style="text-align: center;">
                ID в ВК
              </th>
            </tr>
            <!-- верстка с помощью JavaScript -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav id="right_menu_btns">
        <!-- верстка с помощью JavaScript -->
      </nav>
    </div>

    <script>makeOperatorsPage();</script>

{{ template "footer" }}

{{ end }}
