{{ define "operators" }}

{{ template "header" }}

    <div class="content">
      <div class="content_header">
        <form action="/settings/operators/new" method="post">
          Операторы
          <button class="btn_general" style="margin-left: 240px;">Добавить нового</button>
        </form>
      </div>
      <hr class="separator_hr">

      <div class="table_box">
        <table class="table">
          <tbody>
            <tr class="table_th">
              <th class="table_th">
                Название
              </th>
              <th class="table_th" style="text-align: center;">
                ID в ВК
              </th>
            </tr>
  
            {{ range .Operators }}
  
            <tr class="table_td">
              <td class="table_td">
                <a class="table_item_name" href="/settings/operators/{{ .ID }}">{{ .Name }}</a>
              </td>
              <td class="table_td" style="text-align: center;">
                {{ .VkID }}
              </td>
            </tr>
  
            {{ end }}
  
          </tbody>
        </table>
      </div>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/access_tokens">Ключи доступа</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box_selected">
            <a class="right_menu_btn" href="/settings/operators">Операторы</a>
          </div>
        </p>

        {{ range .Operators }}

        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_under_btn" href="/settings/operators/{{ .ID }}">{{ .Name }}</a>
          </div>
        </p>

        {{ end }}

        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/wards">Подопечные</a>
          </div>
        </p>
      </nav>
    </div>

{{ template "footer" }}

{{ end }}
