{{ define "settings" }}

{{ template "header" }}

    <div class="content">
      
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/access_tokens">Ключи доступа</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/operators">Операторы</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/wards">Подопечные</a>
          </div>
        </p>
      </nav>
    </div>

{{ template "footer" }}

{{ end }}
