{{ define "ward_new" }}

{{ template "header" }}

    <div class="content">
      <div class="content_header">Основные параметры нового подопечного</div>
      <hr class="separator_hr">

      <form action="/settings/wards/new/create" method="post">
        <div class="content_box">
          <a class="text_field_label">Название:</a>
          <input class="text_field" type="text" id="name" name="name">
        </div>
        <div class="content_box">
          <a class="text_field_label">ID в ВК:</a>
          <input class="text_field" type="text" id="vk_id" name="vk_id">
        </div>
        <div class="content_box">
          <a class="text_field_label">Get-ключ доступа:</a>
          <select class="text_field" id="get_access_token" name="get_access_token">
            <option selected></option>

            {{ range .AccessTokens }}

            <option value="{{ .Name }}">{{ .Name }}</option>

            {{ end }}

          </select>
        </div>

        <hr class="separator_hr">

        {{ $observer_types := .ObserverTypes }}
        {{ $operators := .Operators }}
        {{ $access_tokens := .AccessTokens }}
        {{ $wall_post_types := .WallPostTypes }}
        {{ $wall_post_types_ru := .WallPostTypesRu }}

        {{ range $i, $observer := .Observers }}

        <div class="content_header">Параметры наблюдателя «{{ index $observer_types $i }}»</div>
        <hr class="separator_hr">

        {{ if (eq $observer.Name "wall_post") }}

        <div class="content_box">
          <a class="text_field_label">Типы постов:</a>
          <select class="text_field" id="post_type" name="post_type">
            <option selected></option>

            {{ range $n, $post_type := $wall_post_types }}

            <option value="{{ $post_type }}">{{ index $wall_post_types_ru $n }}</option>

            {{ end }}

          </select>
        </div>

        {{ end }}

        <div class="content_box">
          <a class="text_field_label">Оператор:</a>
          <select class="text_field" id="{{ $observer.Name }}_operator" name="{{ $observer.Name }}_operator">
            <option selected></option>

            {{ range $operators }}

            {{ $operator_id := .ID }}
            {{ $operator_name := .Name }}

            <option value="{{ $operator_name }}">{{ .Name }}</option>

            {{ end }}

          </select>
        </div>

        <div class="content_box">
          <a class="text_field_label">Send-ключ доступа</a>
          <select class="text_field" id="{{ $observer.Name }}_send_access_token" name="{{ $observer.Name }}_send_access_token">
            <option selected></option>

            {{ range $access_tokens }}

            {{ $access_token_id := .ID }}
            {{ $access_token_name := .Name }}

            <option value="{{ $access_token_name }}">{{ .Name }}</option>

            {{ end }}
            
          </select>
        </div>

        <hr class="separator_hr">
        
        {{ end }}
    
        <div class="btn_add">
          <button class="btn_general">Добавить</button>
        </div>
      </form>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/access_tokens">Ключи доступа</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/operators">Операторы</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box_selected">
            <a class="right_menu_btn" href="/settings/wards">Подопечные</a>
          </div>
        </p>
      </nav>
    </div>

{{ template "footer" }}

{{ end }}
