{{ define "ward_settings" }}

{{ template "header" }}

    {{ $wardID := .WardID }}
    {{ $ward := .Ward }}

    <div class="content">
      <div class="content_header">Основные параметры подопечного</div>
      <hr class="separator_hr">

      <form action="/settings/wards/{{ .Ward.ID }}/update" method="post">
        <div class="content_box">
          <a class="text_field_label">Название:</a>
          <input class="text_field" type="text" id="name" name="name"
          value="{{ .Ward.Name }}" placeholder="{{ .Ward.Name }}">
        </div>
        <div class="content_box">
          <a class="text_field_label">ID в ВК:</a>
          <input class="text_field" type="text" id="vk_id" name="vk_id"
          value="{{ .Ward.VkID }}" placeholder="{{ .Ward.VkID }}">
        </div>
        <div class="content_box">
          <a class="text_field_label">Get-ключ доступа:</a>
          <select class="text_field" id="get_access_token" name="get_access_token">

            {{ range .AccessTokens }}

            <option 
            
            {{ if (eq .ID $ward.GetAccessTokenID) }}

            {{ end }}
            
            value="{{ .Name }}">{{ .Name }}</option>

            {{ end }}

          </select>
        </div>

        <hr class="separator_hr">

        {{ $observers_types := .ObserversTypes }}
        {{ $operators := .Operators }}
        {{ $access_tokens := .AccessTokens }}
        {{ $wall_post_types := .WallPostTypes }}
        {{ $wall_post_types_ru := .WallPostTypesRu }}

        {{ range $i, $observer := .Observers }}

        <div class="content_header">Параметры наблюдателя «{{ index $observers_types $i }}»</div>
        <hr class="separator_hr">

        {{ if (eq $observer.Name "wall_post") }}

        <div class="content_box">
          <a class="text_field_label">Типы постов:</a>
          <select class="text_field" id="post_type" name="post_type">
            {{ range $n, $post_type := $wall_post_types }}

            <option 
            
            {{ if (eq $observer.AdditionalParams.WallPost.PostType $post_type) }}

            selected

            {{ end }}
            
            value="{{ $post_type }}">{{ index $wall_post_types_ru $n }}</option>

            {{ end }}

          </select>
        </div>

        {{ end }}

        <div class="content_box">
          <a class="text_field_label">Оператор:</a>
          <select class="text_field" id="{{ $observer.Name }}_operator" name="{{ $observer.Name }}_operator">

            {{ range $operators }}

            <option 
            
            {{ if (eq .ID $observer.OperatorID) }}

            selected

            {{ end }}
            
            value="{{ .Name }}">{{ .Name }}</option>

            {{ end }}

          </select>
        </div>

        <div class="content_box">
          <a class="text_field_label">Send-ключ доступа</a>
          <select class="text_field" id="{{ $observer.Name }}_send_access_token" name="{{ $observer.Name }}_send_access_token">

            {{ range $access_tokens }}

            <option 

            {{ if (eq .ID $observer.SendAccessTokenID) }}

            selected
            
            {{ end }}
            
            value="{{ .Name }}">{{ .Name }}</option>

            {{ end }}
            
          </select>
        </div>

        <hr class="separator_hr">
        
        {{ end }}
    
        <div class="btn_add">
          <button class="btn_general">Сохранить</button>
        </div>
      </form>
      <form action="/settings/wards/{{ .Ward.ID }}/delete" method="post">
        <div class="btn_add">
          <button class="btn_del">Удалить</button>
        </div>
      </form>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/access_tokens">Ключи доступа</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/operators">Операторы</a>
          </div>
        </p>
        <p>
          <div class="right_menu_btn_box">
            <a class="right_menu_btn" href="/settings/wards">Подопечные</a>
          </div>
        </p>

        {{ range .Wards }}

        <p>
          <div 
          
          {{ if (eq $wardID .ID) }}

          class="right_menu_btn_box_selected"

          {{ else }}
          
          class="right_menu_btn_box"

          {{ end }}
          
          >
            <a class="right_menu_under_btn" href="/settings/wards/{{ .ID }}">{{ .Name }}</a>
          </div>
        </p>

        {{ end }}

      </nav>
    </div>

{{ template "footer" }}

{{ end }}
