{{ define "wards" }}

{{ template "header" }}

    <div class="content">
      <div class="content_header">
        <form action="/settings/wards/new" method="post">
          Подопечные
          <button class="btn_general" style="margin-left: 229px;">Добавить нового</button>
        </form>
      </div>
      <hr class="separator_hr">

      <div class="table_box">
        <table class="table">
          <tbody id="wards_table">
            <tr class="table_th">
              <th class="table_th">
                Название
              </th>
              <th class="table_th" style="text-align: center;">
                ID в ВК
              </th>
            </tr>
            <!-- верстка с помощью JavaScript -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="right_menu">
      <div class="right_menu_header">Параметры</div>
      <hr class="separator_hr">
      <nav id="right_menu_btns">
        <!-- верстка с помощью JavaScript -->
      </nav>
    </div>

    <script>makeWardsPage();</script>

{{ template "footer" }}

{{ end }}
